*{
  background-color: black;
  color: white;
  font-family: Consolas, monospace;
}

.texto{
  margin-left: 10%;
  white-space: nowrap;
}

.texto-fundo{
  margin-left: 10%;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.347);
}