/* Define estilos para todos os elementos */
* {
  background-color: black;
  color: white;
  font-family: Consolas, monospace;
}

/* Define estilos para o texto de fundo */
#texto-fundo {
  position: absolute;
  margin-left: 10%;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.347);
}

/* Define estilos para o texto digitado */
#texto-digitado {
  position: absolute;
  margin-left: 10%;
  white-space: pre-wrap;
}


#crtrErradoEspaco{
  color: rgba(255, 255, 255, 0.524);
}

/* Define estilos para as letras incorretas */
#crtrErrado {
  color: red;  
}

/* Define estilos para o campo de entrada */
#digitado {
  background-color:rgba(255, 0, 0, 0) ;
  white-space: pre-wrap;
  top: 22px;
  position: absolute;
  margin-left: 9.8%;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0);
  font-size: medium;
  width: 100%;
  opacity: 100;
  border: 0px solid;
  /* outline: none; */
  caret-color: rgb(255, 0, 238);
}

