/* Define estilos para todos os elementos */
* {
  background-color: black;
  color: white;
  font-family: Consolas, monospace;
}

/* Define estilos para o texto de fundo */
#texto-fundo {
  position: absolute;
  margin-left: 10%;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.347);
}

/* Define estilos para o texto digitado */
#texto-digitado {
  position: absolute;
  margin-left: 10%;
  white-space: pre-wrap;
}

/* Define estilos para as letras incorretas */
span {
  color: red;  
}

/* Define estilos para o campo de entrada */
#digitado {
  white-space: pre-wrap;
  top: 20px;
  position: absolute;
  margin-left: 10%;
  white-space: nowrap;
  color: rgba(89, 23, 23, 0.347);
  font-size: medium;
  width: 100%;
  opacity: 0;
}
