*{
  background-color: black;
  color: white;
  font-family: Consolas, monospace;
}


#texto-fundo{
  
  margin-left: 10%;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.347);
}

#texto-digitado{
  
  margin-left: 10%;
  white-space: nowrap;
}

span{
  color: red;  
}


#digitado{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}


